body{
    background: linear-gradient(90deg, rgba(222,255,209,1) 0%, rgba(255,195,212,1) 35%, rgba(226,255,182,1) 100%);;
    background-size: 100%;
}
@keyframes animaldiv {
    from {
        width: 100px;
    }
    to {
        width: 150px;
    }
}
div{
    margin: auto;
    align-items: center;
}
#class{
    width: 400px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.425);
    background-size: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;

}
#class div{
    background: linear-gradient(90deg, rgba(240,245,225,1) 0%, rgba(255,208,253,1) 35%, rgba(162,232,246,1) 100%);
    background-size: 100%;
    width: 100px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
a{
    color: black;
    text-decoration: none;
}

#class a :hover{
    animation-name: animaldiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
